{% extends 'index.html' %}

{% block pagecontent %}
	<div class="row">
		<div class="col-lg-12">
			<div class="text-center m-t-lg">
				{{ coming_soon }}
			</div>
		</div>
	</div>
{% endblock pagecontent %}