{% extends 'CompanyDashboard/index.html' %}
{% block pagecontent %}
<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>List of Your Product</h5>
			</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Company</th>
							<th>Type of Product</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.company.name }}</td>
								<td>{{ product.product_type.name }}</td>
								<td>{{ product.status }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if products.has_other_pages %}
					<ul class="pagination">
						{% if products.has_previous %}
							<li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
						{% else %}
							<li class="disabled"><span>&laquo;</span></li>
						{% endif %}
						{% for i in products.paginator.page_range %}
					      {% if products.number == i %}
					        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					      {% else %}
					        <li><a href="?page={{ i }}">{{ i }}</a></li>
					      {% endif %}
					    {% endfor %}
					    {% if products.has_next %}
					      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
					    {% else %}
					      <li class="disabled"><span>&raquo;</span></li>
					    {% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock pagecontent %}
