{% extends 'CompanyDashboard/index.html' %}
{% block pagecontent %}
<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>List of Your Achievement</h5>
			</div>
			<div class="card card-pad-sm table-responsive">
				{% if achievements %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Company</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{% for achievement in achievements %}
							<tr>
								<td>{{ achievement.id }}</td>
								<td>{{ achievement.name }}</td>
								<td>{{ achievement.company_achievement.name }}</td>
								<td>{{ achievement.date }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
					{% else %}
						<p>There is no data</p>
				{% endif %}
				{% if achievements.has_other_pages %}
					<ul class="pagination">
						{% if achievements.has_previous %}
							<li><a href="?page={{ achievements.previous_page_number }}">&laquo;</a></li>
						{% else %}
							<li class="disabled"><span>&laquo;</span></li>
						{% endif %}
						{% for i in achievements.paginator.page_range %}
					      {% if achievements.number == i %}
					        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					      {% else %}
					        <li><a href="?page={{ i }}">{{ i }}</a></li>
					      {% endif %}
					    {% endfor %}
					    {% if achievements.has_next %}
					      <li><a href="?page={{ achievements.next_page_number }}">&raquo;</a></li>
					    {% else %}
					      <li class="disabled"><span>&raquo;</span></li>
					    {% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock pagecontent %}
