{% extends 'CompanyDashboard/index.html' %}
{% block pagecontent %}
<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>List of Your Company</h5>
			</div>
			<div class="card card-pad-sm table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Editor</th>
							<th>City</th>
							<th>Number of Employees</th>
						</tr>
					</thead>
					<tbody>
						{% for company in companies %}
							<tr>
								<td>{{ company.id }}</td>
								<td>{{ company.name }}</td>
								<td>{{ company.editor }}</td>
								<td>{{ company.city }}</td>
								<td>{{ company.employees }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if companies.has_other_pages %}
					<ul class="pagination">
						{% if companies.has_previous %}
							<li><a href="?page={{ companies.previous_page_number }}">&laquo;</a></li>
						{% else %}
							<li class="disabled"><span>&laquo;</span></li>
						{% endif %}
						{% for i in companies.paginator.page_range %}
					      {% if companies.number == i %}
					        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					      {% else %}
					        <li><a href="?page={{ i }}">{{ i }}</a></li>
					      {% endif %}
					    {% endfor %}
					    {% if companies.has_next %}
					      <li><a href="?page={{ companies.next_page_number }}">&raquo;</a></li>
					    {% else %}
					      <li class="disabled"><span>&raquo;</span></li>
					    {% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock pagecontent %}
