{% extends "account/base.html" %}
{% load i18n static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block pagecontent %}
		<div class="row">
			<div class="col-md-8">
				<h1>{% trans "Sign Up" %}</h1>
				<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
				<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
					{% csrf_token %}
					{{ form.as_p }}
					{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button type="submit">{% trans "Sign Up" %} &raquo;</button>
				</form>
			</div>
			<div class="col-md-4">
				<img src={% static 'img/startup1.svg'%} alt="" class="img-responsive">
			</div>
	</div>
{% endblock pagecontent %}