<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {% block title %}
  <title>Startup Nepal | Company Dashboard</title>
  {% endblock title %}

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  {% block css %}
    {% include 'includes/dashboard/css.html' %}
  {% endblock css %}
</head>

<body>
  <div id="wrapper">
    {% include 'includes/dashboard/company/sidebar.html'%}
    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="#">
              <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
              </div>
            </form>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <a href="{% url 'account_logout' %}">
                <i class="fa fa-sign-out"></i> Log out
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight">
        {% block pagecontent %} {% endblock pagecontent %}
      </div>
    </div>
  </div>
</body>

{% block js %} {% include 'includes/dashboard/js.html' %} {% endblock js %}

</html>
