{# <div class="card-block">
							<h3 class="card-title">{{ company.name }} <img src="{{ company.logo.url }}" class="rounded-circle float-right" alt="logo" width="40px" height="auto"></h3>
							<p class="card-text">{{ company.description|truncatechars:120 }}</p>
							<a href="{{ company.get_absolute_url }}" class="btn btn-link">View Detail</a>
							<a href="{{ company.get_like_url }}" class="btn btn-link like-company" data-href="{{ company.get_like_url }}" data-likes="{{ company.likes.count }}"><i class="fa fa-thumbs-o-up"></i>{{ company.likes.count }} like</a>
						</div> #}


						<div class="products">
		{% if products %}
			My products are:
			{% for product in products %}
				{% if forloop.first %}<div class="row">{% endif %}
				<div class="col-sm-3">
					<div class="card">
						<div class="card-block">
							<h3 class="card-title">
							<a href={% url 'products:view-product' slug=product.slug %}>{{ product.name }}</a>
							</h3>
							<p class="card-text">{{ product.description|truncatechars:120 }}</p>
							<p class="text-muted">Number of Views: {{ product.hits }}</p>
							{% if request.user.is_authenticated %}
								<div class="action">
									<a class="btn btn-primary" href={% url 'products:edit-product' slug=product.slug %}>Edit</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% if forloop.counter|divisibleby:4 %}</div><br/><div class="row">{% endif %}
				{% if forloop.last %}</div>{% endif %}
			{% endfor %}
		{% endif %}
	</div>