{% extends 'base.html' %}

{% block pagecontent %}
	<div class="main main-raised">
	<div class="container">
		<h2>Investors</h2>
		{% for investor in object_list %}
			{% if forloop.first %}<div class="row">{% endif %}
			<div class="col-md-4">
				<div class="card card-01">
					<div class="card-body text-center">
						<h3 class="card-title text-center">{{ investor.name }}</h3>
						<a href="{{ investor.get_follow_url }}" class="btn btn-link">Follow</a>
						<a href="{% url 'investors:follow-unfollow-investor' action='add' slug=investor.slug %}" class="btn btn-link">Follow</a>
						<div class="social-box">
							<a href="{{investor.twitter_url}}"><i class="fa fa-facebook"></i></a>
							<a href="{{investor.linkedin_url}}"><i class="fa fa-google-plus"></i></a>
						</div><br />
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:4 %}</div><br/><div class="row">{%endif %}
			{% if forloop.last %}</div>{% endif %}
		{% endfor %}
	</div>
	</div>
{% endblock pagecontent %}