{% extends 'userDashboard/index.html' %}

{% block title %}
  <title>StartupNep | Education</title>
{% endblock title %}

{% block pagecontent %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>List of Your Education Background</h5>
        <span class="right"><a href="{% url 'enduser:add-education' %}" class="btn btn-primary btn-round">Add</a></span>
      </div>
      <div class="card card-pad-sm table-responsive">
        {% if education %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Course</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for edu in education %}
              <tr>
                <td>{{ edu.id }}</td>
                <td>{{ edu.name }}</td>
                <td>{{ edu.course }}</td>
                <td>{{ edu.start_date }}</td>
                <td>{{ edu.end_date }}</td>
                <td><a href="{{ edu.edit_education_url }}">Edit</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
          {% else %}
            <p>There is no data</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock pagecontent %}
