{% extends 'userDashboard/index.html' %}

{% block title %}
  <title>StartupNep | Education</title>
{% endblock title %}

{% block pagecontent %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>List of Your Experiences</h5>
        <span class="right"><a href="{% url 'enduser:add-experience' %}" class="btn btn-primary btn-round">Add</a></span>
      </div>
      <div class="card card-pad-sm table-responsive">
        {% if experiences %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Designation</th>
              <th>Company</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for experience in experiences %}
              <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.designation }}</td>
                <td>{{ experience.company }}</td>
                <td>{{ experience.start_date }}</td>
                <td>{{ experience.end_date }}</td>
                <td><a href="{{ experience.edit_experience_url }}">Edit</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
          {% else %}
            <p>There is no data</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock pagecontent %}
