{% extends 'userDashboard/index.html' %}

{% block title %}
  <title>StartupNep | Education</title>
{% endblock title %}

{% block pagecontent %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>List of Your References</h5>
        <span class="right"><a href="{% url 'enduser:add-reference' %}" class="btn btn-primary btn-round">Add</a></span>
      </div>
      <div class="card card-pad-sm table-responsive">
        {% if references %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name of Referee</th>
              <th>Designation of Referee</th>
              <th>Phone Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for reference in references %}
              <tr>
                <td>{{ reference.id }}</td>
                <td>{{ reference.name_of_refree }}</td>
                <td>{{ reference.designation_of_refree }}</td>
                <td>{{ reference.phone_number }}</td>
                <td><a href="{{ reference.edit_reference_url }}">Edit</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
          {% else %}
            <p>There is no data</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock pagecontent %}
