{% extends 'userDashboard/index.html' %}

{% block title %}
  <title>StartupNep | Education</title>
{% endblock title %}

{% block pagecontent %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>List of Your Skills</h5>
        <span class="right"><a href="{% url 'enduser:add-skill' %}" class="btn btn-primary btn-round">Add</a></span>
      </div>
      <div class="card card-pad-sm table-responsive">
        {% if skills %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for skill in skills %}
              <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.name }}</td>
                <td><a href="{{ skill.edit_skill_url }}">Edit</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
          {% else %}
            <p>There is no data</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock pagecontent %}
