{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
<link href="{% static 'dashboard/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link href="{% static 'css/material.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/main.css' %}">