{% load add_css is_checkbox field_type %}
<form class="form" role="form" action="" method="post" enctype='multipart/form-data'>
	{% csrf_token %}
	{% for field in form %}
		{% if field.errors %}
			<div class="form-group has-error">
				<label for="id_{{ field.name }}">{{ field.label }}</label>
				<div class="col-sm-10">
					{{ field|add_css:'form-control' }}
					<span class="help-block">
					{% for error in  field.errors %}{{ error }}{% endfor %}
				</span>
			</div>
		</div>
	{% else %}
		<div class="form-group">
			{% if field|field_type:'fileinput' or field|field_type:'checkboxinput' %}
				{{ field }} <label for="id_{{ field.name }}">{{ field.label }}</label>
				<p class="help-block"><small>{{ field.help_text|safe }}</small></p>
			{% else %}
			<label for="id_{{ field.name }}">{{ field.label }}</label>
				{{ field|add_css:'form-control' }}
				{% if field.help_text %}
					<p class="help-block"><small>{{ field.help_text|safe }}</small></p>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
{% endfor %}
	<button type="submit" class="btn btn-primary btn-round">Submit</button>
</div>
</form>
