{% load static %}
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/material.min.js'%}"></script>
<script src="{% static 'js/nouislider.min.js'%}"></script>
<script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
<script src="{% static 'js/material-kit.js'%}"></script>
<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });  
    $(document).ready(function(){
      $('a.company-like').click(function(e){
        e.preventDefault();
        $.post('{% url "products:like-company" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.company-like').data('action');

                    // toggle data-action
                    $('a.company-like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                    // toggle link text
                    $('a.company-like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
        });
	});
    }); 
 </script>
