<nav class="startup-nav navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand brand-logo" href="#"><span class="startup-text">Startup</span><span class="nep-text">NEP</span></a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto menu-list">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'products:home' %}">
          <i class="icon fa fa-home"></i>
          Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products:post-company' %}">
            <i class="icon fa fa-plus-circle"></i>
          Post Company</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">
            <i class="icon fa fa-sign-out"></i>Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">
            <i class="icon fa fa-sign-in"></i>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">
            <i class="icon fa fa-user-plus"></i>Signup</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>