<nav class="navbar navbar-transparent navbar-absolute">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a class="navbar-brand" href="{% url 'products:home' %}">StartupNEP</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
	    		{% if user.is_authenticated %}
					<li>
						<a href={% url 'products:dashboard' %} target="_blank">
							<i class="material-icons">dashboard</i> Dashboard
						</a>
					</li>
				{% endif %}
				<li>
					<a href="{% url 'products:post-company' %}" target="_blank">
						<i class="material-icons">add_circle_outline</i> Post Company
					</a>
				</li>
				{% if request.user.is_authenticated %}
					<li class="nav-item">
		            	<a href="{% url 'account_logout' %}">
		            	<i class="material-icons">power_settings_new</i>Logout</a>
		          	</li>
		         {% else %}
			          <li>
			            <a href="{% url 'account_login' %}">
			            <i class="material-icons">login</i>Login</a>
			          </li>
			          <li class="nav-item">
			            <a href="{% url 'account_signup' %}">
			            <i class="material-icons">signup</i>Signup</a>
			          </li>
				{% endif %}
	    	</ul>
	    </div>
	</div>
</nav>