<nav class="navbar-default navbar-static-side" role="navigation">
<div class="sidebar-collapse">
  <ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
      <div class="dropdown profile-element">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{request.user.username}}</strong>
                        </span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      </div>
    </li>
    <li class="active">
      <a href=""><i class="fa fa-building-o"></i> <span class="nav-label">Company</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li class="{% if request.path == " /post/company "%}active{% endif %}"><a href="{% url 'products:post-company' %}">Add Company</a></li>
        <li class="{% if request.path == " /list/my-company "%}active{% endif %}"><a href="{% url 'products:list-my-company' %}">Company List</a></li>
      </ul>
    </li>
    <li class="{% if request.path == " /post/product " or request.path == "/list/my-products " %}active{% endif %}">
      <a href=""><i class="fa fa-laptop"></i> <span class="nav-label">Product</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li class="{% if request.path == " /post/product "%}active{% endif %}"><a href="{% url 'products:post-product' %}">Add Product</a></li>
        <li class="{% if request.path == " /list/my-products "%}active{% endif %}"><a href="{% url 'products:list-my-product' %}">Product List</a></li>
      </ul>
    </li>
    <li class="{% if request.path == " /post/achievement " or request.path == "/list/my-achievements " %}active{% endif %}">
      <a href=""><i class="fa fa-trophy"></i> <span class="nav-label">Achievement</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li class="{% if request.path == " /post/achievement "%}active{% endif %}"><a href="{% url 'products:post-achievement' %}">Add Achievement</a></li>
        <li class="{% if request.path == " /list/my-achievements "%}active{% endif %}"><a href="{% url 'products:list-my-achievements' %}">Achievement List</a></li>
      </ul>
    </li>
    <li class="{% if request.path == " /post/founder "%}active{% endif %}">
      <a href="{% url 'products:post-founder' %}"><i class="fa fa-users"></i> <span class="nav-label">Founders</span> </a>
    </li>
    <li class="{% if request.path == " /blog "%}active{% endif %}">
      <a href="{% url 'products:blog' %}"><i class="fa fa-rss-square"></i> <span class="nav-label">Blog</span> </a>
    </li>
    <li class="{% if request.path == " /accounts/profile/ "%}active{% endif %}">
      <a href="{% url 'products:profile' %}"><i class="fa fa-user"></i> <span class="nav-label">Profile</span> </a>
    </li>
  </ul>
</div>
</nav>
