body {
	font-family: 'Raleway', sans-serif !important;
	color: #444;
	background: #f0eeef !important;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card-pad-sm {
	padding: 2em;
}

.index-page .header-filter:after {
	background: rgba(101, 47, 142, 0.64);
	background: linear-gradient(
		45deg,
		rgba(101, 47, 142, 0.88) 0%,
		rgba(125, 46, 185, 0.45) 100%
	);
	background: -moz-linear-gradient(
		135deg,
		rgba(101, 47, 142, 0.88) 0%,
		rgba(125, 46, 185, 0.45) 100%
	);
	background: rgba(89, 140, 147, 0.53) !important;
}

.bold {
	font-weight: bold;
}

.btn-primary,
.btn-primary:hover {
	background: #598c93 !important;
	color: #fff;
	border: none;
}

.control-label {
	color: #598c93 !important;
	text-transform: uppercase !important;
	font-size: 0.8em !important;
	font-weight: bold !important;
	position: absolute !important;
	pointer-events: none;
}

.job-form-card {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin: 2rem auto;
	background: #fff;
	padding: 3rem 2rem;
	border-radius: 1rem;
}

a,
a:focus,
a:hover,
.btn,
.btn-link {
	outline: none !important;
	text-decoration: none !important;
}

h2 {
	position: relative;
	margin: 10px 0;
}

h2.title::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: -20px auto;
	background-color: #d0d0d0 !important;
	bottom: 0px;
	width: 114px;
	height: 2px;
}

h2.title::after {
	content: '';
	bottom: -8px;
	position: absolute;
	left: 0;
	right: 0;
	margin: -20px auto;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 2px solid #d0d0d0 !important;
}

i.icon {
	color: #26bbad;
	margin: 0 2px;
}

.top-company-grid {
	margin: 4.5em 0;
}

.content-section {
	position: relative;
	height: 300px;
	overflow: hidden;
}

.content-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: rgba(88, 58, 122, 0.93);*/
	background-image: url('../img/job1.jpg');
	transform: skewY(-6deg);
	transform-origin: top left;
	z-index: -100;
}

.content-bg.job-filter:before {
	content: '';
	/*background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);*/
	background: rgba(89, 140, 147, 0.53);
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.content-section h1 {
	margin: 0;
	font-size: 2.5em;
	line-height: 2.8em;
	font-weight: bold;
	text-align: center;
	z-index: 100;
	color: #fff;
}

.content-right-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/job1.jpg');
	transform: skewY(-6deg);
	transform-origin: top right;
	z-index: -100;
}

.content-right-bg.job-filter:before {
	content: '';
	background: rgba(89, 140, 147, 0.53);
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

img.img-responsive {
	width: 100% !important;
	max-width: 100% !important;
}

img.card-img-top {
	width: 245px;
	height: auto;
}

/*nav.startup-nav {
	background: #fff !important;
}*/

.startup-text {
	color: #133b82;
}

.nep-text {
	color: #d93527;
}

.menu-list li a {
	color: #666 !important;
}

.jumbotron {
	background: url('../img/startup2.svg') no-repeat center center;
	background-size: cover;
}

.banner {
	padding: 8em;
}

/*h1.display-3 {
    color: #45bcae;
    font-weight: bold;
    font-size: 6em;
}*/

.icon-prime {
	color: #3d3d3d;
}

.startup-banner1 {
	min-height: 350px;
	background-position: top center;
	background-size: cover;
}

.features {
	padding: 0;
}

li.category-list {
	list-style: none;
	padding: 10px;
	text-align: justify;
	margin-top: 2.5em;
	border-bottom: solid 1px rgba(169, 165, 165, 0.48);
}

li.collection-item.category-list i.material-icons {
	display: inline-flex;
	flex-direction: row;
	float: right;
}

.categories {
	margin: 2em;
}

.card.custom-card {
	border: none !important;
}

.custom-card p.card-title a {
	color: #666 !important;
	font-size: 1.2em;
}

.custom-card .card-block {
	padding: 0.5em;
}

a.btn-link {
	color: #666;
	text-decoration: none !important;
}

.card {
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
	border: none;
	margin-bottom: 30px;
}

.card-01 .card-body {
	position: relative;
	padding-top: 40px;
}

.card-01 .badge-box {
	position: absolute;
	top: -20px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	text-align: center;
}

.card-01 .badge-box i {
	background: #45bcae;
	color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}

.profile-box {
	background-size: cover;
	float: left;
	width: 100%;
	text-align: center;
	padding: 30px 0;
	position: relative;
	overflow: hidden;
}

.profile-box:before {
	filter: blur(10px);
	background: url('https://images.pexels.com/photos/195825/pexels-photo-195825.jpeg?h=350&auto=compress&cs=tinysrgb')
		no-repeat;
	background-size: cover;
	width: 120%;
	position: absolute;
	content: '';
	height: 120%;
	left: -10%;
	top: 0;
	z-index: 0;
}

.profile-box img {
	width: 120px !important;
	height: 120px;
	position: relative;
	border: 4px solid #fff;
	margin: 0 auto;
}

.social-box i {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
}

.social-box i:hover {
	background: #dfc717;
	color: #fff;
}

.social-box a {
	margin: 0 5px;
}

.social-box i.fa-facebook {
	background: #3b5998;
	color: #fff;
	border: solid 1px #3b5998;
}

.social-box i.fa-twitter {
	background: #55acee;
	color: #fff;
	border: solid 1px #55acee;
}

.social-box i.fa-google-plus {
	background: #dd4b39;
	color: #fff;
	border: solid 1px #dd4b39;
}

.filter-block {
	margin: 2em 0;
}

.filter-icon i {
	color: #26bbad;
}

.filter-icon span {
	font-size: 1.6em;
}

.empty-block {
	margin-top: 2em;
}

/*  custom checkbox css */

.styled-checkbox {
	position: absolute;
	opacity: 0;
}

.styled-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

.styled-checkbox + label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 24px;
	height: 24px;
	background: rgba(11, 10, 10, 0.26);
}

.styled-checkbox:hover + label:before {
	background: #598c93;
}

.styled-checkbox:focus + label:before {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.styled-checkbox:checked + label:before {
	background: #598c93;
}

.styled-checkbox:checked + label:after {
	content: '';
	position: absolute;
	left: 7px;
	top: 12px;
	background: white;
	width: 3px;
	height: 3px;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
		4px -6px 0 white, 4px -8px 0 white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* file input css */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 1em;
	font-weight: 700;
	color: #fff !important;
	background-color: #598c93;
	display: inline-block;
	padding: 0.5em 2em;
}

.inputfile + label:before {
	font-family: FontAwesome;
	content: '\f0ee';
	display: inline-block;
	padding-right: 22px;
	vertical-align: middle;
	font-size: 2em;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: #598c93;
}

.inputfile + label {
	cursor: pointer;
	/* "hand" cursor */
}
