{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center section-landing">
				<div class="row">
						<h2 class="title">TOP CATEGORIES</h2>
					<div class="col-md-6">
						<div class="startup-banner1" style="background-image: url('{% static 'img/startup1.svg'%}');">
					</div> 
					</div>
					<div class="col-md-6">
						<div class="features">
							{% for category in categories %}
										<ul class="category-list-group collection">
											<li class="collection-item category-list">
												<span class="list-title">
													<a href="/list/company?category={{category.slug}}">{{ category }} ({{ category.product_count}})</a>
													<i class="material-icons">arrow_forward</i>
												</span>
											
											</li>
										</ul>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="content-section text-center">
			<h1>Do you want to post the job?</h1>
			<div class="content-bg job-filter">
			</div>
			<a class="btn btn-primary btn-round" href="{% url 'jobs:post-job' %}">Post Job</a>
		</section>
		{% if companies %}
		<div class="container">
		<div class="section text-center">
			<h2 class="title">COMPANIES</h2>
			{% for company in companies %}
				{% if forloop.first %}<div class="row top-company-grid">{% endif %}
				<div class="col-md-4">
					<div class="card card-01">
						<div class="profile-box">
							<img class="card-img-top img-circle img-responsive" src="{{ company.logo.url }}" alt="Card image cap">
						</div>
						<div class="card-body text-center">
							<h4><a href="{{ company.get_absolute_url }}">{{ company.name}}</a></h4>
							<p class="card-text">{{ company.description|truncatechars:90 }}</p>
							<span class="social-box">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</span>
						</div>
						<br />
					</div>
				</div>
				{% if forloop.counter|divisibleby:4 %}</div><br/><div class="row">{% endif %}
				{% if forloop.last %}</div>{% endif %}
			{% endfor %}
		{% endif %}
		</div>
		</div>
		<section class="content-section">
		<h1>content k raknu sochdai xu</h1>
			<div class="content-right-bg">
			</div>
		</section>
		<br />
		<br />
		<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="startup-banner1" style="background-image: url('{% static 'img/startup4.jpg'%}');">
			</div>
			</div>
			<div class="col-md-6">
				<h2 class="title" style="text-align: center;">Why Startup?</h2>
				<p>Startup Nepal to bring all the startups, investors and users community in a single place.
					Startup Nepal to bring all the startups, investors and users community in a single place
					Startup Nepal to bring all the startups, investors and users community in a single place
					Startup Nepal to bring all the startups, investors and users community in a single place
					Startup Nepal to bring all the startups, investors and users community in a single place
					Startup Nepal to bring all the startups, investors and users community in a single place
					Startup Nepal to bring all the startups, investors and users community in a single place
					Startup Nepal to bring all the startups, investors and users community in a single place
				</p>
			</div>
			</div>
		</div>
			
		</div>
</div>
{% endblock pagecontent %}