{% extends 'base.html' %}
{% block banner %}
	<div class="empty-block"><br/></div>
{% endblock banner %}
{% block pagecontent %}
	<div class="container">
				<div class="card card-01">
					<div class="card-body text-center">
						<h3 class="card-title text-center">{{ job.name }}</h3>
						<p class="card-text">{{ job.description|safe }}</p>
						{% if request.user.is_staff %}
							<a href="{{ job.get_edit_url }}" class="btn btn-primary btn-round">Edit</a>
							{% else %}
							<a href="{{ job.get_job_apply_url }}" class="btn btn-primary btn-round">Apply</a>
						{% endif %}
					</div>
				</div>
	</div>
{% endblock pagecontent %}
