{% extends 'base.html' %}
{% block banner %}
	<div class="empty-block"><br/></div>
{% endblock banner %}
{% block pagecontent %}
	<div class="container">
		<div class="filter-block">
			<span class="filter-icon">
				<i class="fa fa-filter fa-3x"></i> <span class="btn btn-primary">Filter</span>
			</span>
		</div>
		{% for job in jobs %}
			{% if forloop.first %}<div class="row">{% endif %}
			<div class="col-md-4">
				<div class="card card-01">
					<div class="card-body text-center">
						<h4 class="card-title text-center">{{ job.company.name }}</h4>
						<p class="card-text">{{ job.name }}</p>
						<a href="{{ job.get_absolute_url }}" class="btn btn-link">View Detail</a>
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:4 %}</div><br/><div class="row">{%endif %}
			{% if forloop.last %}</div>{% endif %}
		{% endfor %}
	</div>
{% endblock pagecontent %}