{% extends 'base.html' %}
{% block banner %}
	<div class="empty-block"><br/></div>
{% endblock banner %}
{% block pagecontent %}
	<div class="container">
		<div class="filter-block">
			<span class="filter-icon">
				<i class="fa fa-filter fa-3x"></i> <span class="btn btn-primary">Filter</span>
			</span>
		</div>
		{% for company in companies %}
			{% with total_likes=company.likes.count users_like=company.likes.all %}
			{% if forloop.first %}<div class="row">{% endif %}
			<div class="col-md-4">
				<div class="card card-01">
					<div class="profile-box">
						<img class="card-img-top rounded-circle" src="{{ company.logo.url }}" alt="Card image cap">
					</div>
					<div class="card-body text-center">
						<span class="badge-box"><i class="fa fa-check"></i></span>
						<h3 class="card-title text-center">{{ company.name }}</h3>
						<p class="card-text">{{ company.description|truncatechars:90 }}</p>
						<a href="{{ company.get_absolute_url }}" class="btn btn-link">View Detail</a>
						<span class="count">
							<span class="total">{{ total_likes }}</span>
							like{{ total_likes|pluralize }}
						</span>
					<div class="social-box">
						<a href="{{company.facebook}}"><i class="fa fa-facebook"></i></a>
						<a href="{{company.twitter}}"><i class="fa fa-twitter"></i></a>
						<a href="{{company.linkedin}}"><i class="fa fa-google-plus"></i></a>
					</div><br />
				</div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:4 %}</div><br/><div class="row">{%endif %}
		{% if forloop.last %}</div>{% endif %}
	{% endwith %}
{% endfor %}
</div>
{% endblock pagecontent %}
