{% extends 'base.html' %}
{% load add_css %}
{% block pagecontent %}
	<div class="main main-raised">
		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<form class="form" role="form" action="" method="post" enctype='multipart/form-data'>
							{% csrf_token %}
							{% for field in form %}
								{% if field.errors %}
									<div class="form-group label-floating has-error">
										<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
										<div class="col-sm-10">
											{{ field.type }}
											{{ field|add_css:'form-control' }}
											<span class="help-block">
											{% for error in  field.errors %}{{ error }}{% endfor %}
										</span>
									</div>
								</div>
							{% else %}
								<div class="form-group label-floating">
									<label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
									{{ field|add_css:'form-control' }}
									{% if field.help_text %}
										<p class="help-block"><small>{{ field.help_text }}</small></p>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-round">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock pagecontent %}

{% block js %}
	{{ block.super }}
	<script>
		$(".datepicker").datepicker( {
		    format: " yyyy",
		    viewMode: "years", 
		    minViewMode: "years"
		});
	</script>
{% endblock js %}