{% extends 'base.html' %}
{% load static add_css %}
{% block banner %}
{% endblock banner %}
{% block pagecontent %}
	<div class="">
		<section class="content-section text-center">
			<div class="content-bg job-filter">
			</div>
		</section>
		<div class="container">
			<div class="section" style="padding: 5px">
				<h2 class="text-center title">POST JOB </h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="job-form-card">
							<div class="left"></div>
							<div class="right">
								{% include 'includes/form.html' %}
							</div>
							{{ form.media }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="content-section text-center">
			<div class="content-right-bg job-filter">
			</div>
		</section>
	{% endblock pagecontent %}