{% extends 'base.html' %}
{% block pagecontent %}
	<div class="container">
		<div class="content">
			Name: {{ product.name }}
			Description: {{ product.description }}<br/>
			categories: <p>{% for category in categories %} {{ category.name }}{{ category.product_count }}<br/> {% endfor %}</p>
		</div>
		{% if request.user.is_authenticated %}
		<div class="action">
			<a class="btn btn-primary" href={% url 'products:edit-product' slug=product.slug %}>Edit</a>
		</div>
		{% endif %}
	</div>
{% endblock pagecontent %}