{% extends 'base.html' %}
{% block banner %}
  <div class="header header-filter" style="background-image: url('{{ company.banner.url }}');"></div>
{% endblock banner %}
{% block pagecontent %}
{% with total_likes=company.likes.count users_like=company.likes.all %}
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="profile">
            <div class="avatar">
              <img src="{{ company.logo.url }}" alt="Circle Image" class="img-circle img-responsive img-raised" style="width: 160px !important; height: 160px; margin: 0 auto;">
            </div>
            <div class="name" style="text-align: center;">
              <h3 class="title">{{company.name}}</h3>
              <span class="count">
              <span class="total">{{ total_likes }}</span>
              like{{ total_likes|pluralize }}
            </span>
              <a href="#" data-id="{{ company.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="company-like like-{{ company.id}} btn btn-link"><i class="fa fa-thumbs-o-up"></i>
            {% if request.user not in users_like %}
              Like
            {% else %}
              Unlike
            {% endif %}
          </a>
            </div>
            <div class="category-tag text-center">
              <span class="tag">Startup</span>
              <span class="tag">Incubator</span>
              <span class="tag">IOT</span>
            </div>
          </div>
        </div><br />
        <div class="description text-center">
          <p>{{company.description}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="profile-tabs">
          <div class="nav-align-center">
            <ul class="nav nav-pills" role="tablist">
              <li>
                <a href="#social-connection" role="tab" data-toggle="tab">
                  <i class="material-icons">camera</i>
                  Social Connection
                </a>
              </li>
              <li class="active">
                <a href="#products" role="tab" data-toggle="tab">
                  <i class="material-icons">palette</i>
                  Products
                </a>
              </li>
              <li>
                <a href="#founders" role="tab" data-toggle="tab">
                  <i class="material-icons">favorite</i>
                  Founders
                </a>
              </li>
              <li>
                <a href="#achievements" role="tab" data-toggle="tab">
                  <i class="material-icons">favorite</i>
                  Achievements
                </a>
              </li>
            </ul>
            <div class="tab-content gallery">
              <div class="tab-pane" id="social-connection">
                <div class="row">
                  <div class="social-box">
                    <a href="{{company.facebook}}"><i class="fa fa-facebook"></i></a>
                    <a href="{{company.twitter}}"><i class="fa fa-twitter"></i></a>
                    <a href="{{company.linkedin}}"><i class="fa fa-google-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="tab-pane text-center active" id="products">
                <div class="row">
                  {% if products %}
                    <h3>Products</h3>
                    <div class="products">
                      {% for product in products %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-6">
                          <div class="card card-01">
                            <div class="profile-box">
                              
                            </div>
                            <div class="card-body text-center">
                              <span class="badge-box"><i class="fa fa-check"></i></span>
                              <h3 class="card-title text-center">{{ product.name }}</h3>
                              <p class="card-text">{{ product.description|truncatechars:90 }}</p>
                              <a class="btn btn-primary" href={% url 'products:edit-product' slug=product.slug %}>Edit</a>
                            </div>
                          </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 %}</div><br/><div class="row">{%endif %}
                        {% if forloop.last %}</div>{% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="tab-pane text-center" id="founders">
                <div class="row">
                  Founders left
                </div>
              </div>
              <div class="tab-pane text-center" id="achievements">
                <div class="row">
                  Achievements
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Profile Tabs -->
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="{% url 'products:home' %}">
              Startup
            </a>
          </li>
          <li>
            <a href="">
              About Us
            </a>
          </li>
          <li>
            <a href="">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        &copy; 2017, made with <i class="fa fa-heart heart"></i> by Connyct
      </div>
    </div>
  </footer>
  {% endwith %}
{% endblock pagecontent %}