{% load static %}

<!-- Bootstrap core CSS     -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="{% static 'css/animate.min.css'%}" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->

  <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">

  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
