{% load static %}
<!--   Core JS Files   -->
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static 'js/bootstrap-checkbox-radio-switch.js' %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static 'js/bootstrap-notify.js' %}"></script>


<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js'%}"></script>
<script src="{% static 'js/startup.js'%}"></script>
