{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}
    <title>StartupNep</title>
    {% endblock title %}
    {% block css %}
      {% include 'includes/css.html' %}
    {% endblock css %}
    
  </head>
  <body class="homepage index-page">
      {% include 'includes/navbar.html'%}

      <div class="wrapper">
        {% block banner %}
          <div class="header header-filter" style="background-image: url('{% static 'img/bg2.jpeg'%}');">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="brand">
                    <h1>Startup Nepal</h1>
                    <h3>Startup Nepal to bring all the startups, investors and users community in a single place</h3>
                  </div>
                </div>
              </div>

            </div>
          </div>
        {% endblock banner %}
        {% block pagecontent %}
        {% endblock pagecontent %}
        {% block footer %}
          {% include 'includes/footer.html' %}
        {% endblock footer %}
      </div>

      {% block js %}
        {% include 'includes/js.html' %}
         
    {% endblock js %}
    </body>
  </html>