{% load add_css %}
	<div class="row">
		<div class="col-lg-12">
			<div class="text-center m-t-lg">
				<form class="form-horizontal" role="form" action="" method="post" enctype='multipart/form-data'>
					{% csrf_token %}
					{% for field in form %}
						{% if field.errors %}
							<div class="form-group has-error">
								<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
								<div class="col-sm-10">
									{{ field|add_css:'form-control' }}
									<span class="help-block">
									{% for error in  field.errors %}{{ error }}{% endfor %}
								</span>
							</div>
						</div>
					{% else %}
						<div class="form-group">
							<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
							<div class="col-sm-10">
								{{ field|add_css:'form-control' }}
								{% if field.help_text %}
									<p class="help-block"><small>{{ field.help_text }}</small></p>
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
