{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StartupNEP</title>
        <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'dashboard/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'dashboard/css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{request.user.username}}</strong>
                                    </span> </span> </a>
                                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="active">
                                <a href=""><i class="fa fa-building-o"></i> <span class="nav-label">Company</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li class="{% if request.path == "/post/company"%}active{% endif %}"><a href="{% url 'products:post-company' %}">Add Company</a></li>
                                    <li class="{% if request.path == "/list/my-company"%}active{% endif %}"><a href="{% url 'products:list-my-company' %}">Company List</a></li>
                                </ul>
                            </li>
                            <li class="{% if request.path == "/post/product" or request.path == "/list/my-products" %}active{% endif %}">
                                <a href=""><i class="fa fa-laptop"></i> <span class="nav-label">Product</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li class="{% if request.path == "/post/product"%}active{% endif %}"><a href="{% url 'products:post-product' %}">Add Product</a></li>
                                    <li class="{% if request.path == "/list/my-products"%}active{% endif %}"><a href="{% url 'products:list-my-product' %}">Product List</a></li>
                                </ul>
                            </li>
                               <li class="{% if request.path == "/post/achievement" or request.path == "/list/my-achievements" %}active{% endif %}">
                                <a href=""><i class="fa fa-trophy"></i> <span class="nav-label">Achievement</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li class="{% if request.path == "/post/achievement"%}active{% endif %}"><a href="{% url 'products:post-achievement' %}">Add Achievement</a></li>
                                    <li class="{% if request.path == "/list/my-achievements"%}active{% endif %}"><a href="{% url 'products:list-my-achievements' %}">Achievement List</a></li>
                                </ul>
                            </li>
                    <li class="{% if request.path == "/post/founder"%}active{% endif %}">
                    <a href="{% url 'products:post-founder' %}"><i class="fa fa-users"></i> <span class="nav-label">Founders</span> </a>
                </li>
                <li class="{% if request.path == "/blog"%}active{% endif %}">
                <a href="{% url 'products:blog' %}"><i class="fa fa-rss-square"></i> <span class="nav-label">Blog</span> </a>
            </li>
            <li class="{% if request.path == "/accounts/profile/"%}active{% endif %}">
            <a href="{% url 'products:profile' %}"><i class="fa fa-user"></i> <span class="nav-label">Profile</span> </a>
        </li>
    </ul>
</div>
</nav>
<div id="page-wrapper" class="gray-bg">
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="{% url 'account_logout' %}">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    {% block pagecontent %}
    {% endblock pagecontent %}
</div>
<div class="footer">
    <div>
        <strong>Copyright</strong> StartupNEP &copy; 2017
    </div>
</div>
</div>
</div>
<!-- Mainly scripts -->
<script src="{% static 'dashboard/js/jquery-3.1.1.min.js'%}"></script>
<script src="{% static 'dashboard/js/bootstrap.min.js'%}"></script>
<script src="{% static 'dashboard/js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
<script src="{% static 'dashboard/js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
<!-- Custom and plugin javascript -->
<script src="{% static 'dashboard/js/inspinia.js'%}"></script>
<script src="{% static 'dashboard/js/plugins/pace/pace.min.js'%}"></script>
</body>
</html>
