<nav class="navbar-default navbar-static-side" role="navigation">
<div class="sidebar-collapse">
  <ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
      <div class="dropdown profile-element">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{request.user.username}}</strong>
            </span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      </div>
    </li>
    <li class="active">
      <a href=""><i class="fa fa-building-o"></i> <span class="nav-label">Resume</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li class="{% if request.path == "/add/resume"%}active{% endif %}"><a href="{% url 'enduser:add-resume' %}">Personal Detail</a></li>
        <li class="{% if request.path == "/education"%}active{% endif %}"><a href="{% url 'enduser:education' %}">Education</a></li>
        <li class="{% if request.path == "/experience"%}active{% endif %}"><a href="{% url 'enduser:experience' %}">Experience</a></li>
        <li class="{% if request.path == "/skill"%}active{% endif %}"><a href="{% url 'enduser:skill' %}">Skill</a></li>
        <li class="{% if request.path == "/reference"%}active{% endif %}"><a href="{% url 'enduser:reference' %}">Reference</a></li>
      </ul>
    </li>
    <li class="{% if request.path == "/add/setting"%}active{% endif %}">
      <a href="{% url 'enduser:usersetting' %}"><i class="fa fa-user"></i> <span class="nav-label">Settings</span> </a>
    </li>
    <li class="{% if request.path == " /accounts/profile/ "%}active{% endif %}">
      <a href="{% url 'products:profile' %}"><i class="fa fa-user"></i> <span class="nav-label">Profile</span> </a>
    </li>
    <li class="{% if request.path == " /accounts/profile/ "%}active{% endif %}">
      <a href="{% url 'products:profile' %}"><i class="fa fa-user"></i> <span class="nav-label">Feedback</span> </a>
    </li>
  </ul>
</div>
</nav>
