{% load static add_css %}
<form class="form" role="form" action="" method="post">
	{% csrf_token %}
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.company.id_for_label}}">Company</label>
		<select class="form-control" name="{{ form.company.name }}" id="{{ form.company.id_for_label}}">
			<option value=""></option>
			{% for id, name in form.company.field.choices %}
				<option value="{{ id }}" class="option">{{ name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.name.id_for_label}}">Job Title</label>
		<input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" class="form-control">
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group label-floating">
				<label class="control-label" for="{{ form.description.id_for_label}}">{{ form.description.label }}</label>
				<div class="markdownx">
					{{ form.description|add_css:'form-control' }}
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.category.id_for_label}}">{{ form.category.label }}</label>
		<select class="form-control" name="{{ form.category.name }}" id="{{ form.category.id_for_label}}">
			<option value=""></option>
			{% for id, name in form.category.field.choices %}
				<option value="{{ id }}">{{ name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.city.id_for_label}}">{{ form.city.label }}</label>
		<input type="text" id="{{ form.city.id_for_label }}" name="{{ form.city.name }}" class="form-control">
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.address.id_for_label}}">{{ form.address.label }}</label>
		<input type="text" id="{{ form.address.id_for_label }}" name="{{ form.address.name }}" class="form-control">
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.estimated_salary.id_for_label}}">Estimated Salary</label>
		<input type="number" id="{{ form.estimated_salary.id_for_label }}" name="{{ form.estimated_salary.name }}" class="form-control">
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.position.id_for_label}}">Position</label>
		<select class="form-control" name="{{ form.position.name }}" id="{{ form.position.id_for_label}}" multiple>
			{% for id, name in form.position.field.choices %}
				<option value="{{ id }}">{{ name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.work_schedule.id_for_label}}">Work Schedule</label>
		<select class="form-control" name="{{ form.work_schedule.name }}" id="{{ form.work_schedule.id_for_label}}" multiple>
			{% for id, name in form.work_schedule.field.choices %}
				<option value="{{ id }}">{{ name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.how_to_apply.id_for_label}}">How to Apply</label>
		<input type="text" id="{{ form.how_to_apply.id_for_label }}" name="{{ form.how_to_apply.name }}" class="form-control">
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.website.id_for_label}}">{{ form.website.label }}</label>
		<input type="url" id="{{ form.website.id_for_label }}" name="{{ form.website.name }}" class="form-control">
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.job_url.id_for_label}}">Job URL</label>
		<input type="url" id="{{ form.job_url.id_for_label }}" name="{{ form.job_url.name }}" class="form-control">
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.company_email.id_for_label}}">Company Email</label>
		<input type="email" id="{{ form.company_email.id_for_label }}" name="{{ form.company_email.name }}" class="form-control">
	</div>
	<div class="form-group label-floating">
		<label class="control-label" for="{{ form.job_email.id_for_label}}">Job Email</label>
		<input type="email" id="{{ form.job_email.id_for_label }}" name="{{ form.job_email.name }}" class="form-control">
	</div>
	<div class="checkbox">
		<label for="{{ form.is_telecommute.id_for_label}}">
			<input type="checkbox" name="optionsCheckboxes" id="{{ form.is_telecommute.id_for_label}}">
			Is TeleCommute?
		</label>
	</div>
	<button class="btn btn-primary btn-round">Post Job</button>
	<div class="image-block"></div>
</form>